# WebDriver configuration
# Path to your WebDriver executable
WEBDRIVER_PATH=path/to/your/webdriver

# Folder to save downloads
DOWNLOAD_FOLDER=/path/to/your/download/folder

# Browser type (edge or chrome)
BROWSER_TYPE=edge  # Change to 'chrome' for using Chrome browser

# Move and extract Takeout configuration
# Source directory for downloaded Takeout files
DOWNLOADS_DIR=/path/to/your/download/folder

# Destination directory for extracted contents
DESTINATION_DIR=/path/to/your/destination/folder

# Stages to run (yes or no)
RUN_EXTRACTION=yes
RUN_METADATA_CONVERSION=yes
RUN_ORGANIZATION=yes
